body {
    margin: 0
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    font-weight: bold;
    font-size: 30px;
    background-color: skyblue;
}

main{
    height: 100vh;
    padding: 60px 50px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    padding: 15px 0;
}

.required {
    display: flex;
    align-items: center;
    height: 30px;
    color: #fff;
    background: #C1272D;
    border-radius: 5px;
    padding: 0 10px;
    margin-left: 1em;
}

.validation-message{
    color: red;
}

input,
select,
textarea{
    width: 600px;
    display: block;
}

input{
    padding: 7px 2px;
}

select {
    height: 33px;
}


button {
    display       : inline-block;
    border-radius : 5%;
    font-size     : 18pt;
    text-align    : center;
    cursor        : pointer;
    padding       : 12px 12px;
    background    : #000066;
    color         : #ffffff;
    line-height   : 1em;
    transition    : .3s;
    border        : 2px solid #000066;
  }
button:hover {
    box-shadow    : none;
    color         : #000066;
    background    : #ffffff;
  }

.button-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.completed-message {
    text-align: center;
}

button:disabled{
    background: #d4d4d4;
    border: none;
    color: #a7a7a7;
}